STARTMODE='onboot'
BOOTPROTO='static'
IPADDR='{{ ip4pub.address }}/{{ ip4pub.cidr }}'
BONDING_MASTER='yes'
BONDING_SLAVE_0='{{ interfaces[0].name }}'
BONDING_SLAVE_1='{{ interfaces[1].name }}'
BONDING_MODULE_OPTS='mode={{ net.bonding.mode }} miimon=100'
IPADDR1='{{ ip4priv.address }}'
NETMASK1='{{ ip4priv.netmask }}'
GATEWAY1='{{ ip4priv.gateway }}'
LABEL1='0'
IPADDR2='{{ ip6pub.address }}/{{ ip6pub.cidr }}'
GATEWAY2='{{ ip6pub.gateway }}'
LABEL2='1'
