DEVICE=bond0:0
NAME=bond0:0
IPADDR={{ ip4priv.address }}
NETMASK={{ ip4priv.netmask }}
GATEWAY={{ ip4priv.gateway }}
BOOTPROTO=none
ONBOOT=yes
USERCTL=no
{% for dns in resolvers %}
DNS{{ loop.index }}={{ dns }}
{% endfor %}
