auto lo
iface lo inet loopback

auto {{ iface0.name }}
iface {{ iface0.name }} inet static
    {% if ip4pub %}
    address {{ ip4pub.address }}
    netmask {{ ip4pub.netmask }}
    gateway {{ ip4pub.gateway }}
    {% else %}
    address {{ ip4priv.address }}
    netmask {{ ip4priv.netmask }}
    gateway {{ ip4priv.gateway }}
    {% endif %}

    dns-nameservers{% for dns in resolvers %} {{ dns }}{% endfor %}

{% if ip6pub %}
iface {{ iface0.name }} inet6 static
    address {{ ip6pub.address }}
    netmask {{ ip6pub.cidr }}
    gateway {{ ip6pub.gateway }}
{% endif %}

{% if ip4pub %}
auto {{ iface0.name }}:0
iface {{ iface0.name }}:0 inet static
    address {{ ip4priv.address }}
    netmask {{ ip4priv.netmask }}
    {% for subnet in private_subnets %}
    post-up route add -net {{ subnet }} gw {{ ip4priv.gateway }}
    post-down route del -net {{ subnet }} gw {{ ip4priv.gateway }}
    {% endfor %}
{% endif %}
