STARTMODE='onboot'
BOOTPROTO='static'
IPADDR='{{ ip4pub.address }}/{{ ip4pub.cidr }}'
IPADDR1='{{ ip4priv.address }}'
NETMASK1='{{ ip4priv.netmask }}'
GATEWAY1='{{ ip4priv.gateway }}'
LABEL1='0'
IPADDR2='{{ ip6pub.address }}/{{ ip6pub.cidr }}'
GATEWAY2='{{ ip6pub.gateway }}'
LABEL2='1'
